

main{
    width: 55%;
    margin: 50px auto;
}

main > h2{
    margin: 70px 0px;
    text-align: center;
}



/* Container spedizione + pagamento  */
#cont{
    width: 70%;
    float: left;
}


.invisibile{
    display: none;
}


#cont hr{
    margin: 20px 0px;
    opacity: 50%;
}







/* #region CONSEGNA */


/* <div> Scelta  */
#spedizione > div:nth-of-type(1){
    margin-top: 20px;
}

/* <span> blocco scelta */
#spedizione > div:nth-of-type(1) > span{
    width: 100%;
    height: 45px;
    position: relative;
}

/* <span> blocco scelta --> Sostituito a .invisibile */
#spedizione > div:nth-of-type(1) > span.blocco{
    display: block;
}


/* All <button> Scelta  */
#spedizione > div:nth-of-type(1) > button{
    padding: 10px;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 8px;
    float: left;
}


/* <button> Spedizione */
#spedizione > div:nth-of-type(1) > button:first-of-type{
    width: calc(50% - 10px);
    margin-right: 10px;
    background-image: url(../images/icon19.png);
    background-size: 8%;
    background-position: 30% 50%;
}


/* <button> Ritiro */
#spedizione > div:nth-of-type(1) > button:last-of-type{
    width: 50%;
    background-image: url(../images/icon18.png);
    background-size: 6.5%;
    background-position: 40% 50%;
}


/* Stile <button> Selezionato */
#spedizione > div:nth-of-type(1) > button.selezionato{
    border: 2px solid black;
}




/* <div> Ritiro  +  <form> Spedizione */
#spedizione > div:nth-of-type(2), #spedizione > form{
    width: 100%;
    text-align: center;
    margin-top: 20px;
} 



/* All <div> con input + label */
#formSped > div{
    margin-top: 20px;
    float: left;
    position: relative;
}



/* All <input> */
#formSped input{
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);
}


/* All <label> */
#formSped label{
    padding: 0px 4px;
    opacity: 50%;
    transition: 500ms;
    position: absolute;
    top: 32%;
    left: 3%;
}





/* <div> name + email  */
#formSped div:nth-child(1), #formSped div:nth-child(4){
    width: calc(50% - 10px);
    margin-right: 10px;
}

/* <div> lastName + tel  */
#formSped div:nth-child(2), #formSped div:nth-child(5) {
    width: 50%;
}

/* <div> address */
#formSped div:nth-child(3){
    width: 100%;
}

/* <label> address */
#formSped div:nth-child(3) label{
    left: 1.5%;
}


/* <button> invio form spedizione  */
.buttonInvio{
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    border:none;
    float: right;

    background-color: black;
    color: white;
}

/* Hover su <button> spedizione */
.buttonInvio:hover{
    opacity: 50%;
}



/* <div> Recap */
#spedizione > div:nth-of-type(3){
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    line-height: 150%;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 80%;
}





/* Errore input consegna + pagamento */
#formSped > div > input.error, #payCard input.error{
    border: 1px solid red ;
}



/* <span> di Errore consegna + pagamento  */
#formSped span, #payCard span{
    font-size: 0.8rem;
    padding: 5px;
    color: red;
    background-color: white;
    position: absolute;
    bottom: -20%;
    left: 2.1%;
}


#payCard span{
    bottom: -35%;
}




/* Animazione <label> consegna + pagamento  */
#cont label.move{
    font-size: 0.8rem;
    top: -20%;
    left: 2%;
    background-color: white;
    opacity: 100%;
}



/* #endregion */


/* <form> pagamento */
#formP{
    margin-top:20px;
}

/* All <h3> nel form */
#formP h3{
    font-weight: normal;
}



/* #region PAESE/REGIONE FATTURAZIONE */


/* Container <span> + <a> */
#contP > div:first-of-type{
    margin-top: 8px;
}

/* <h3>  */
#contP h3{
    font-size: 1rem;
}

/* <span> Paese attuale */
#contP span{
    font-size: 0.95rem;
    opacity: 80%;
}


/* <a> "Modifica" */
#contP a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.95rem;
    margin-left: 5px;
}



/* Container <label> + <select>  */
#contS{
    position: relative;
}

/* <select> */
#contS select{
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
}

/* <label> */
#contS label{
    position: absolute;

    top: -15%;
    left: 1.4%;
    padding: 0px 4px;
    transition: 500ms;

    font-size: 0.6rem;
    background-color: white;
}


/* #endregion */




/* #region GIFT CARD */


/* Gift Card */
#contG {
    margin-top: 20px;
    margin-bottom: 20px;


}

#contG h3{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#contG input{
    width: 15px;
    height: 15px;
}

/* #endregion */




/* #region METODO PAGAMENTO  */


/* <p> Seleziona metodo + Aggiungi carta  */
#contPay h3:nth-of-type(1){
    font-size: 1rem;
}

/* <p> Non disponibile */
#contPay h3:nth-of-type(2){
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

/* All <div> con input */
#type div {
    margin-top: 15px;
}

#contPay fieldset{

    border: none;
}

/* All <input> contPay */
#contPay input{
    width: 15px;
    height: 15px;
}

/* All <label> contPay */
#type label{
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3px;

    margin-left: 5px;
}


/* <span> text "Carta di credito" */
#span{
    margin-left: 25px;
    font-size: 0.9rem;
}

/* <label> Carta */
#type div:nth-of-type(1) label{
    color: black;
    background-image: url(../images/icon21.png);
    background-position: 0% 50%;
}



/* <label> Paypal */
#type div:nth-of-type(2) label{
    background-image: url(../images/icon17.png);
    background-position: 0% 50%;
}

/* <label> Gpay */
#type div:nth-of-type(3) label{
    background-image: url(../images/icon20.png);
    background-position: 0% 50%;
    padding: 10px;
}






/* Pagamento con Carta */

#payCard{
    width: 80%;
    margin: 50px auto;
    border: 1px solid rgb(190, 190, 190);
    padding: 15px 20px;
    border-radius: 8px;
}

/* <h3> payCard */
#payCard h3{

    margin-bottom: 20px;
}


/* All <div> payCard */
#payCard > div{
    border-radius: 8px;
    float: left;
    margin-left: 20px;
    width: calc((100% - 40px) / 3);
    position: relative;
}


/* 1° <div> payCard */
#payCard > div:first-of-type{
    margin-left: 0px;
}

/* All <input>  */
#payCard input{
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;
    font-size: 1rem;
}


#payCard label{
    position: absolute;
    top: 25%;
    left: 10%;
    transition: 500ms;
    opacity: 50%;
    padding: 0px 4px;
}


/* <a> "Where is" */
#payCard a{
    margin-top: 20px;
    float: right;
    text-decoration: underline;
}

#completo{
    line-height: 200%;
}


#completo figure{
    height: 100px;
    background-image: url(../images/icon22.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0%;
    margin-bottom: 20px;
}

#completo h2, #completo p{
    text-align: center;
}


/* #endregion */




/* #region CARRELLO */

/* Container Cart  */
#cart{
    width: calc(30% - 20px);
    margin-left: 20px;
    float: right;    
    line-height: 150%;
}

/* <h3> "nel carrello" */
#cart > h3{
    display: inline;
}

/* <a> "modifica" */
#cart > a{
    float: right;
    text-decoration: underline;
    font-size: 0.9rem;
}



/* <span> destra */
.val{
    float:right;

}

/* <div> Subtotale  */
#sub{
    margin-top: 20px;
}

/* <div> Totale  */
#tot{
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Container Prodotti */
#prodotti{
    margin-top: 20px;
}



/* <div> Prodotto */
#prodotti > div{
    margin-top: 20px;
    margin-bottom: 20px;
}


/* <div> text prodotto  */
#prodotti > div > div{
    float:left;
    line-height: 150%;

    width: calc(70% - 10px);
    margin-left: 10px;


}


/* All <p> */
#prodotti > div > div p{
    opacity: 80%;
    font-size: 0.95rem;

 
}

/* <p> Nome gioco */
#prodotti > div > div p:nth-of-type(1){
    font-weight: bold;

    font-size: 1rem;
    opacity: 100%; 
}

/* <p> Versione + Prezzo */
#prodotti > div > div p:nth-of-type(3),#prodotti > div > div p:nth-of-type(4){
    float: left;
}

/* <p> Prezzo */
#prodotti > div > div p:nth-of-type(4){
    margin-left: 12px;
}




/* All <figure> prodotti */
#prodotti figure{
    width: 30%; 
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
}


/* 1° <figure> prodotto */
#prodotti > div:nth-of-type(1) > figure{
    background-image: url(../images/imgSlider/0.webp);
}

#prodotti > div:nth-of-type(2) > figure{
    background-image: url(../images/imgSlider/2.webp);
}

#prodotti > div:nth-of-type(3) > figure{
    background-image: url(../images/imgSlider/3.webp);
}

/* #endregion */